body.container {
  font-family: "Arial", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 35px;
}
@media only screen and (max-width: 819px) {
  body.container {
    padding: 0;
  }
}
body.container h1 {
  text-align: center;
  font-weight: normal;
}
body.container header p {
  max-width: 1280px;
  margin: 0 auto;
}
@media only screen and (max-width: 819px) {
  body.container header p {
    width: 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
}
body.container header p .logo {
  padding: 25px 0 50px;
}
@media only screen and (max-width: 819px) {
  body.container header p .logo {
    width: 173px;
    height: 19px;
    padding: 20px 70px;
  }
}
body.container header .header-cover {
  background: url("top-img.png") no-repeat;
  width: calc(100% + 70px);
  height: 450px;
  background-position: 0 23%;
  background-size: cover;
  position: relative;
  left: -35px;
}
@media only screen and (max-width: 819px) {
  body.container header .header-cover {
    width: 100%;
    height: 200px;
    background-position: 24% 23%;
    background-size: 125%;
    left: 0;
  }
}
@media only screen and (max-width: 599px) {
  body.container header .header-cover {
    background-size: 170%;
  }
}
@media only screen and (max-width: 419px) {
  body.container header .header-cover {
    background-position: 29% 23%;
    background-size: 215%;
  }
}
@media only screen and (max-width: 359px) {
  body.container header .header-cover {
    background-size: 250%;
  }
}
body.container header .header-cover:after {
  content: "";
  position: absolute;
  height: 450px;
  background: linear-gradient(to top left, rgba(0, 89, 68, 0.81) 49%, transparent 50%) left/13.2% 103% no-repeat, linear-gradient(to bottom right, rgba(0, 89, 68, 0.81) 100%, transparent 100%) right/86.8% 100% no-repeat;
  display: block;
  width: 48%;
  right: 0;
}
@media only screen and (max-width: 819px) {
  body.container header .header-cover:after {
    content: none;
  }
}
body.container .main-container {
  max-width: 1280px;
  margin: 0 auto;
}
@media only screen and (max-width: 819px) {
  body.container .main-container {
    padding: 0 18px;
  }
}
body.container .main-container #career h1 {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 31px;
  color: #00945f;
  text-align: center;
  position: relative;
  font-weight: normal;
  padding: 35px 0 0;
}
@media only screen and (max-width: 819px) {
  body.container .main-container #career h1 {
    padding: 15px 0 0;
  }
}
body.container .main-container #career h1:after {
  content: "";
  width: 80px;
  height: 2px;
  background: #00945f;
  position: absolute;
  display: block;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 819px) {
  body.container .main-container #career h1:after {
    bottom: -20px;
  }
}
body.container .main-container #career p.content {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 31px;
  color: #888888;
  text-align: left;
  padding: 20px 0 40px;
}
@media only screen and (max-width: 819px) {
  body.container .main-container #career p.content {
    padding: 15px 0 35px;
  }
}
body.container .main-container #career p.btn-block {
  text-align: center;
  margin: 0;
  padding: 0 0 45px;
}
@media only screen and (max-width: 819px) {
  body.container .main-container #career p.btn-block {
    padding: 0 0 50px;
  }
}
body.container .main-container #career p.btn-block a {
  background-color: #e97300;
  color: #fff;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
}
body.container .main-container #career p.btn-block a:hover {
  background-color: #e17202;
}
body.container .main-container #advantage h2 {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 31px;
  color: #00945f;
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 819px) {
  body.container .main-container #advantage h2 {
    margin-bottom: 18px;
    margin-top: 0;
  }
}
body.container .main-container #advantage h2:after {
  content: "";
  width: 80px;
  height: 2px;
  background: #00945f;
  position: absolute;
  display: block;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 819px) {
  body.container .main-container #advantage h2:after {
    bottom: -20px;
  }
}
body.container .main-container #advantage .main-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: Wrap;
  -moz-flex-wrap: Wrap;
  -ms-flex-wrap: Wrap;
  flex-wrap: Wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 0;
}
body.container .main-container #advantage .main-block .adv_block {
  width: 46%;
  padding: 40px 0 50px;
}
@media only screen and (max-width: 819px) {
  body.container .main-container #advantage .main-block .adv_block {
    width: 100%;
    padding: 22px 0 20px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.5607843137);
  }
  body.container .main-container #advantage .main-block .adv_block:last-child {
    border-bottom: 0;
  }
}
body.container .main-container #advantage .main-block .adv_block h3 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 31px;
  color: #00945f;
  margin: 0px 0 10px;
}
body.container .main-container #advantage .main-block .adv_block p {
  font-size: 16px;
  line-height: 31px;
  color: #888888;
  margin: 0;
}
body.container .main-container #advantage .main-block .adv_block .link {
  font-size: 16px;
  line-height: 31px;
  color: #9ab65e;
  cursor: pointer;
}
body.container .main-container #advantage .main-block .adv_block .link:hover {
  color: #647a35;
}
body.container .main-container #advantage .main-block .adv_block .link:after {
  content: "";
  background: url("arrow-copy.png") no-repeat;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 18px;
  top: 4px;
  left: 0px;
  background-position: -4px 0px;
}
body.container .main-container #review-block {
  padding: 10px 0 0;
}
@media only screen and (max-width: 819px) {
  body.container .main-container #review-block {
    padding: 15px 0 0;
  }
}
body.container .main-container #review-block h2 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 31px;
  color: #ffffff;
  text-align: center;
  background-color: #00935f;
  padding: 13px 0;
  margin: 0;
}
@media only screen and (max-width: 819px) {
  body.container .main-container #review-block h2 {
    padding: 20px;
  }
}
body.container .main-container #review-block p.main-para {
  font-size: 16px;
  line-height: 31px;
  color: #888888;
  background: #ebf7f5;
  margin: 0;
  padding: 25px 35px 35px;
}
@media only screen and (max-width: 819px) {
  body.container .main-container #review-block p.main-para {
    padding: 20px 6px 10px;
  }
}
body.container .main-container #review-block .review-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: Wrap;
  -moz-flex-wrap: Wrap;
  -ms-flex-wrap: Wrap;
  flex-wrap: Wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  padding: 60px 0 130px;
  position: relative;
}
body.container .main-container #review-block .review-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 49.4%; /* Center align based on viewport */
  transform: translateX(-50%); /* Offset by half its own width */
  width: 100vw; /* Full viewport width */
  height: 100%;
  border-bottom: 1px solid #00945f;
  z-index: -1;
}
@media only screen and (max-width: 819px) {
  body.container .main-container #review-block .review-container {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 30px 0 35px;
  }
}
body.container .main-container #review-block .review-container .reviews {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  padding: 0 75px;
}
@media only screen and (max-width: 1229px) {
  body.container .main-container #review-block .review-container .reviews {
    padding: 0 48px;
  }
}
@media only screen and (max-width: 819px) {
  body.container .main-container #review-block .review-container .reviews {
    padding: 0 0 32px;
    width: 60% !important;
  }
}
@media only screen and (max-width: 599px) {
  body.container .main-container #review-block .review-container .reviews {
    width: 200px !important;
  }
}
body.container .main-container #review-block .review-container .reviews:nth-of-type(1) {
  width: 15%;
}
body.container .main-container #review-block .review-container .reviews:nth-of-type(1) .img-block {
  background: #bc9490 url("person3.png") no-repeat;
  background-position: -4px -10px;
  background-size: 107%;
}
body.container .main-container #review-block .review-container .reviews:nth-of-type(2) {
  width: 31%;
}
body.container .main-container #review-block .review-container .reviews:nth-of-type(2) .img-block {
  background-position: 51% 17%;
  background-size: 73%;
  background-repeat: no-repeat;
  background-color: #e1dfdf;
  background-image: url("person2.png");
  background-color: #e6e0e0;
  background-blend-mode: multiply;
}
body.container .main-container #review-block .review-container .reviews:nth-of-type(3) {
  width: 15%;
}
body.container .main-container #review-block .review-container .reviews:nth-of-type(3) .img-block {
  background: url("person4.png") no-repeat;
  background-position: -4px -10px;
  background-size: 107%;
  background-color: #e1dfdf;
}
body.container .main-container #review-block .review-container .reviews .img-block {
  width: 180px;
  height: 180px;
  border-radius: 90px;
}
body.container .main-container #review-block .review-container .reviews .review-txt {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 29px;
  color: #666666;
  font-style: italic;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 12px 0;
}
@media only screen and (max-width: 819px) {
  body.container .main-container #review-block .review-container .reviews .review-txt {
    padding: 8px 0 16px;
  }
}
body.container .main-container #review-block .review-container .reviews .review-txt:before {
  content: "";
  background: url("quote.png") no-repeat;
  display: block;
  position: absolute;
  width: 70px;
  height: 58px;
}
body.container .main-container #review-block .review-container .reviews .name-blk {
  opacity: 0.839;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 29px;
  color: #00945f;
  text-align: center;
  margin: 0;
}
body.container footer {
  max-width: 1280px;
  margin: 0 auto;
}
@media only screen and (max-width: 819px) {
  body.container footer {
    padding: 0 18px;
  }
}
body.container footer .social-icons {
  padding: 35px 0 25px;
}
@media only screen and (max-width: 819px) {
  body.container footer .social-icons {
    padding: 25px 0;
  }
}
body.container footer p {
  font-size: 11px;
  color: #666666;
  font-family: "Arial";
  margin: 0;
}
body.container footer .otherlinks {
  padding: 25px 0 10px;
}
@media only screen and (max-width: 819px) {
  body.container footer .otherlinks {
    padding: 25px 0 35px;
  }
}
body.container footer .otherlinks a {
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  padding: 0 2px;
}

/*# sourceMappingURL=style.css.map */
